<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= blog.title %></title>
  <style>
    h1{
      margin-left: 40%;

      color: #ee34ee;
    }
    h3{
      margin-left: 38%;

      color: #ee34ee;
    }
  </style>
</head>
<body>
<h1>404</h1>
<h3>真难受，页面跑丢了</h3>
</body>
</html>
